body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.container {
  background-color: #333333;
  text-align: center;
}

.status {
  color: #fff;
  margin-bottom: 10px;
}

.board {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  margin: 20px auto;
}

.square {
  width: calc(100% / 3 - 2px);
  height: 80px;
  background: #fff;
  color: #333333;  
  padding: 0;
  margin: 1px;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  text-shadow: 1px 1px 1px #71c9ff;
}

.square:focus {
  outline: none;
}

.square:hover {
  background-color: #71c9ff;
}

.main-button {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 15px;
  border: 1px solid black;
  background: #fff;
  cursor: pointer;
}

.main-button:focus {
  outline: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
